*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url("./images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.start-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.quizzical{
    font-size: 42px;
    color: #293264
}

.game-description{
    font-size: 16px;
    color: #293264;
    margin-top: 10px;
    margin-bottom: 50px;
}

.start-quiz-button{
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
}

.game-screen-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.question-container{
    width: 80%;
    padding-bottom: 30px;
    border-bottom: 1px #DBDEF0 solid;
}

.question{
    letter-spacing: 0.5px;
    color: #293264;
    font-size: 16px;
}

.choice{
    padding: 4px 30px;
    border: 1px #626FAA solid;
    border-radius: 10px;
    background-color: #F6F7FB;
    color: #293264;
    cursor: pointer;
    font-size: 12px;
}

.choice-containers{
    display: flex;
    margin-top: 30px;
    flex-basis: 100%;
    gap: 25px;
}

.check-answer-button{
    background-color: #4D5B9E;
    color: #F6F7FB;
    border: none;
    padding: 13px 28px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.play-again-button{
    background-color: #4D5B9E;
    color: #F6F7FB;
    border: none;
    padding: 13px 28px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.selected-answer{
    padding: 4px 30px;
    border: none;
    border-radius: 10px;
    background-color: #D6DBF5;
    color: #293264;
    cursor: pointer;
    font-size: 12px;
}

.check-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 17px;
}

.number-of-correct-text{
    font-size: 14px;
    color: #293264
}

.correct-answer{
    padding: 4px 30px;
    border: none;
    border-radius: 10px;
    background-color: #94D7A2;
    color: #293264;
    font-size: 12px;
}